@model WebApplication20.Models.Condition

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Condition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="studyDesk" class="control-label"></label>
                <select asp-for="studyDesk" class="form-control"></select>
                <span asp-validation-for="studyDesk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fridge" class="control-label"></label>
                <select asp-for="fridge" class="form-control"></select>
                <span asp-validation-for="fridge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mattress" class="control-label"></label>
                <select asp-for="mattress" class="form-control"></select>
                <span asp-validation-for="mattress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wallSocket" class="control-label"></label>
                <select asp-for="wallSocket" class="form-control"></select>
                <span asp-validation-for="wallSocket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chair" class="control-label"></label>
                <select asp-for="chair" class="form-control"></select>
                <span asp-validation-for="chair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stove" class="control-label"></label>
                <select asp-for="stove" class="form-control"></select>
                <span asp-validation-for="stove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lightSwitches" class="control-label"></label>
                <select asp-for="lightSwitches" class="form-control"></select>
                <span asp-validation-for="lightSwitches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionImage" class="control-label"></label>
                <input asp-for="ConditionImage" class="form-control" />
                <span asp-validation-for="ConditionImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
