@model WebApplication20.Models.StudentBooking

@{
    ViewData["Title"] = "Student Booking Form";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: gainsboro; /* Grey background */
        }

        .card {
            background-color: rgba(255, 255, 255, 0.7); /* Transparent white */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <label for="Name" class="col-sm-4 col-form-label">Name:</label>
                                <div class="col-sm-8">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="Surname" class="col-sm-4 col-form-label">Surname:</label>
                                <div class="col-sm-8">
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-4 col-form-label">Email:</label>
                                <div class="col-sm-8">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="PhoneNumber" class="col-sm-4 col-form-label">Phone Number:</label>
                                <div class="col-sm-8">
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gender" class="col-sm-4 col-form-label">Gender:</label>
                                <div class="col-sm-8">
                                    <select asp-for="gender" class="form-control">
                                        <option value="">Select type of Gender</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                    <span asp-validation-for="gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="roomType" class="col-sm-4 col-form-label">Room Type:</label>
                                <div class="col-sm-8">
                                    <select asp-for="roomType" class="form-control">
                                        <option value="">Select type of room</option>
                                        <option value="Single">Single</option>
                                        <option value="Double">Double</option>
                                        <option value="Triple">Triple</option>
                                    </select>
                                    <span asp-validation-for="roomType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="BookingStartDate" class="col-sm-4 col-form-label">Booking Start Date:</label>
                                <div class="col-sm-8">
                                    <input asp-for="BookingStartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="BookingStartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="BookingEndDate" class="col-sm-4 col-form-label">Booking End Date:</label>
                                <div class="col-sm-8">
                                    <input asp-for="BookingEndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="BookingEndDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="RoomNumber" class="col-sm-4 col-form-label">Room Number:</label>
                                <div class="col-sm-8">
                                    <input asp-for="RoomNumber" class="form-control" />
                                    <span asp-validation-for="RoomNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="EmergencyContact" class="col-sm-4 col-form-label">Emergency Contact:</label>
                                <div class="col-sm-8">
                                    <input asp-for="EmergencyContact" class="form-control" />
                                    <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                <a asp-action="Index" class="btn btn-success btn-lg">Back to List</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<br/>
<br />
<br />
<br />
